<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === true" >
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item [routerLink]="['/addcourse']" routerLinkActive="router-link-active" >ADD COURSES</a>
      <a mat-list-item [routerLink]="['/gc']" routerLinkActive="router-link-active" >GENTLEMAN CADETS </a>
      <a mat-list-item [routerLink]="['/billing']" routerLinkActive="router-link-active" >BILLING</a>
      <a mat-list-item [routerLink]="['/admin']" routerLinkActive="router-link-active" >ADMINISTRATOR</a>
      <a mat-list-item [routerLink]="['/cda']" routerLinkActive="router-link-active" >CDA</a>
      <a mat-list-item [routerLink]="['/bankreport']" routerLinkActive="router-link-active" >BANK REPORTS</a>
      <a mat-list-item [routerLink]="['/reports']" routerLinkActive="router-link-active" >REPORTS</a>

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
       >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button><div class="heading_nav">
        <h3 >Courses</h3>
      </div>

    </mat-toolbar>
    <!-- Add Content Here -->
    <div class="addcourse">
      <button class="btn btn-lg btn-outline-primary" (click)="open(content)">ADD COURSE</button>

      </div>
  </mat-sidenav-content>
</mat-sidenav-container>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">ADD COURSE</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <form>
      <div class="mb-3">
        <label for="coursename">COURSE NAME</label>
        <div class="input-group">
          <input type="text">

        </div>
      </div>
      <div class="mb-3">
        <label for="coursename">DATE OF COURSE COMMENCEMENT</label>
        <div class="input-group">
          <input type="date">

        </div>
      </div>
      <div class="mb-3">
        <label for="coursename">DATE OF COURSE PASSOUT</label>
        <div class="input-group">
          <input type="date">

        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Add</button>
  </div>
</ng-template>

<hr>

<pre>{{ closeResult }}</pre>



